# Table extraction from Scientific articles with Python

In [5]:
%%capture
# import packages

!pip install tabula-py
!pip install tabulate

import pandas as pd
import numpy as np
import os
import glob
import matplotlib.pyplot as plt

from tabula import read_pdf
from tabulate import tabulate

In this notebook, I will try *tabula* in order to try to extract tables from pdf files. This way, I will be able to see how related tables are to Patient Reported Outcome instruments, and see if the intuition of many PROMs being shown in tables remains true.

In [7]:
# define absolute path and data path

PATH = "/content/drive/MyDrive/GitHub/PatientReportedOutcome/"
data_path = PATH + "Data/PRO/"
# select filename to analyze
filename = "0061_Guemes.pdf"

In [17]:
 # try to extract table with tabula
f = data_path + filename
tables = read_pdf(f, pages="all")

print(f"Number of extracted tables: {len(tables)}")

WARNING:tabula.io:Got stderr: Oct 31, 2022 3:53:41 PM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for C211 (2) in font MOHIRT+MjrmyxAdvPSSym
Oct 31, 2022 3:53:41 PM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for C1 (2) in font KRMATM+LrmbtmAdvP4C4E74

Number of extracted tables: 7

In [16]:
tables[3]

,Table 2 Characteristics of the study population before surgery (mean ± SD),Unnamed: 0,Unnamed: 1
0,Demographic data Total n = 121 Non-obese n = 67,Obese n = 54,p value
1,Age (mean ± SD) 40.7 (12.0) 38.8 (11.6),43.1 (12.2),0.050
2,BMI (mean ± SD) 29.6 (5.3) 25.9 (2.8),34.3 (3.6),0.000
3,aSmoker?,NaN,NaN
4,Yes 42 (34.7) 24 (35.8),18 (33.3),0.775
5,No 79 (65.3) 43 (64.2),36 (66.7),NaN
6,Residence,NaN,NaN
7,Rural 68 (56.2) 39 (58.2),29 (53.7),0.620
8,Urban 53 (43.8) 28 (41.8),25 (46.3),NaN
9,Employment,NaN,NaN
10,Working 75 (62.0) 45 (67.2),30 (55.6),0.191
11,Unemployed 46 (38.0) 22 (32.8),24 (44.4),NaN
12,Education,NaN,NaN
13,Primary 47 (38.8) 18 (26.9),29 (53.7),0.005
14,Secondary 53 (43.8) 38 (56.7),15 (27.8),NaN
15,University 21 (17.4) 11 (16.4),10 (18.5),NaN
16,Comorbidity,NaN,NaN
17,Yes 61 (50.4) 36 (53.7),25 (46.3),0.416
18,No 60 (49.6) 31 (46.3),29 (53.7),NaN
19,Reasons for surgery PAIN,NaN,0.690
20,Yes 118 (97.5) 65 (97.0),53 (98.1),NaN
21,No 3 (2.5) 2 (3.0),1 (1.9),NaN